/* Extends the master style in order to format the meetings list */

h2 {
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

.meeting {
	width: 600px;
	float: left;
	color: #000;
}

.meeting_even h2 {
	color: #ff7000;
}

.meeting_informations {
	margin-bottom: 20px;
}

.meeting_date {
	color: #000;
}

.meeting_date a {
	color: #b0b0b0;
}

.meeting_date a:hover {
	color: #ff7000;
}

.meeting_abstract {
	padding-left: 20px;
}
