/* Extends the master style in order to format the pages list */

h2 {
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

.content_list {
	width: 600px;
	float: left;
}

.page_informations {
	margin-bottom: 10px;
	color: #b0b0b0;
}

.page_informations a {
	color: #b0b0b0;
}

.page_informations a:hover {
	color: #000;
}

.page_abstract {
	padding-left: 20px;
}

