/* for the whole page */
body {
	margin: 0px;
	padding: 0px;
	color: #000;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

h2 {margin: 0px 0px 10px 0px;}

p {margin: 0px 0px 20px 0px;}

a:link {text-decoration: none; color:#000}
a:visited {text-decoration: none; color:#000}
a:hover {
	text-decoration: none;
	color: #ff7000;
}
a:active {
	text-decoration: none;
	color: #ff7000;
}

/* wrapper for the whole file */
#page {
	width: 1000px;
	margin: 0px auto;
	-o-border-radius: 0px 0px 50px 50px;
	-icab-border-radius: 0px 0px 50px 50px;
	-khtml-border-radius: 0px 0px 50px 50px;
	-moz-border-radius: 0px 0px 50px 50px;
	border-radius: 0px 0px 50px 50px;
	-o-box-shadow: -10px 5px 15px #c0c0c0;
	-moz-box-shadow: -10px 5px 15px #c0c0c0;
	-khtml-box-shadow: -10px 5px 15px #c0c0c0;
	-webkit-box-shadow: -10px 5px 15px #c0c0c0;
	box-shadow: -10px 5px 15px #c0c0c0;
	background: #f8f8f8;
}

/* Header and div contained in it (title and top_menu) */
#header {
	width: 100%;
	text-align: right;
	float: right;
	background: #fff;
}

#title {
	padding: 20px 20px 10px 20px;
}

#title h1 {
	margin: 0px;
	padding: 0px;
}

#top_menu {
	height: 30px;
	background: #383838;
	background: -moz-linear-gradient (top, #383838, #686868);
	background: -webkit-gradient(linear, center top, center bottom, from(#383838), to(#686868));
	color: #fff;
	text-transform: uppercase;
}

#top_menu ul {
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	list-style-type: none;
}

#top_menu li {
	float: right;
	margin: 0px;
	padding: 0px;
	border-left: 1px solid #c8c8c8;
	display: inline;
}

#top_menu a {
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
}

#top_menu a:link {text-decoration: none; color:#fff}
#top_menu a:visited {text-decoration: none; color:#fff}
#top_menu a:hover {
	text-decoration: none;
	color: #ff7000;
}

#top_menu a:active {
	text-decoration: none;
	color: #ff7000;
}

/* Wrapper for the content and the footer */
#main_wrapper {
	clear: both;
	margin: auto;
}

/* Central div : content */
#center {
	padding: 0px;
	overflow: hidden;
	/* background: #0018a0; */
}

#left_column {
	float: left;
	width: 160px;
	padding: 0px;
	overflow: hidden;
	color: #000;
	/* border-right: 20px solid #0018a0;
	border-right: 20px -moz-linear-gradient(top, #0018a0, #0018d0);
	border-right: 20px -webkit-gradient(linear, center top, center bottom, from(#0018a0), to(#0018d0)); */
}

#left_menu {
	float: left;
	width: 140px;
}

/* #left_border {
	float: right;
	width: 20px;
	height: 80px;
	background: #0018a0;
	background: -moz-linear-gradient(left, #0018a0, #0018d0);
	background: -webkit-gradient(linear, left center, right center, from(#0018a0), to(#0018d0));
} */

#right_column {
	float: right;
	width: 780px;
	padding: 10px;
	overflow: hidden;
	background: #f8f8f8;
	color: #000;
}

/* footer */
#bottom_border {
}

#bottom {
	padding: 15px 15px 15px 15px;
	overflow: hidden;
}
