<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{% endblock %}Équipe des Représentants des Élèves</title>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" media="screen" />
    {% block extracss %}{% endblock %}
    <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" />
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="page">
      <div id="header">
        <div id="title">
          <h1><a href="/~ere/">ERE</a></h1>
          Équipe des Représentants des Élèves
        </div>
        <div id="top_menu">
          <ul>
            <li><a href="/~ere/">Accueil</a></li>
            <li><a href="/~ere/categories/">Catégories</a></li>
            <li><a href="/~ere/pages/">Pages</a></li>
            <li><a href="/~ere/meetings/">Réunions</a></li>
            <li><a href="/~ere/tags/">Tags</a></li>
          </ul>
        </div>
      </div>
      <div id="main_wrapper">
        <div id="center">
          <div id="left_column">
            {% if user.is_authenticated %}
            Bonjour {{ user.username }}
            {% endif %}
            <div id="left_menu">
              <h4>Menu</h4>
              <ul>
                {% if user.is_authenticated %}
                  <li><a href="{% url logout %}" class="logout">Logout</a></li>
                  {% else %}
                  <li><a href="{% url login %}" class="login">Login</a></li>
                {% endif %}
                {% if user.is_staff %}
                  <li><a href="/~ere/admin">Admin</a></li>
                {% endif %}
              </ul>
            </div>
            <div id="meeting_list">
              <h4><a href="/~ere/meetings">Réunions à venir</a></h4>
              {% load calendar %}
              {% upcoming_meetings as meeting_list %}
              <ul>
                {% for meeting in meeting_list %}
                <li><a href="/~ere/meetings">{{ meeting.title }}, {{ meeting.date|date:"d N Y"}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div id="left_border">
            </div>
          </div>
          <div id="right_column">
              {% block content %}{% endblock %}
          </div>
        </div>
        <div id="footer">
          <div id="bottom_border">
          </div>
          <div id="bottom">
          </div>
        </div>
      </div>
    </div>
  </body>
 </html>
