<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{% endblock %}Site de l'ERE, Équipe des Représentants des Élèves</title>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" media="screen" />
    {% block extracss %}{% endblock %}
    <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" />
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="page">
      <div id="header">
        <div id="title">
          <h1><a href="/">ERE</a></h1>
          Équipe des Représentants des Élèves
        </div>
        <div id="top_menu">
          {% load menu %}

          {% top_menu_content as top_menu_list %}
          <ul>
            {% for menu in top_menu_list %}
            <li><a href="{{ menu.get_absolute_url }}">{{ menu.element }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="main_wrapper">
        <div id="center">
          <div id="left_column">
            <div id="left_menu">
              <h4>Menu</h4>
              {% left_menu_content as left_menu_list %}
              <ul>
                {% for menu in left_menu_list %}
                <li><a href="{{ menu.get_absolute_url }}">{{ menu.element }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div id="meeting_list">
              <h4>Réunions à venir</h4>
              {% load calendar %}
              {% upcoming_meetings as meeting_list %}
              <ul>
                {% for meeting in meeting_list %}
                <li>
                <a href="{{ meeting.get_absolute_url }}">{{ meeting.title }}, {{ meeting.date|date:"l d N Y"}} {{ meeting.date|time:"H\hi" }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div id="left_border">
            </div>
          </div>
          <div id="right_column">
              {% block content %}{% endblock %}
          </div>
        </div>
        <div id="footer">
          <div id="bottom_border">
          </div>
          <div id="bottom">
          </div>
        </div>
      </div>
    </div>
  </body>
 </html>
